<div class="main-body">
    <div class="data-container">
      <div *ngIf="data">
        <div class="data-item">
          <p><strong>Start Date:</strong> {{ data.start_date | date: 'dd MMM yyyy' }}</p>
          <p><strong>End Date:</strong> {{ data.end_date | date: 'dd MMM yyyy' }}</p>
          <p><strong>Sprint Name:</strong> {{ data.sprint_name }}</p>
          <!-- Add this button inside your data display, where it makes sense -->
<button (click)="downloadExcelFile()">Download Excel File</button>

          <!-- Grouped Bar Chart -->
<div class="chart-container" *ngIf="chartOptions" #groupedBarChartContainer>
    <div class="chart-content">
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
      <p class="chart-date">Date Generated: {{ data.date_genere  }}</p>
    </div>
    <button (click)="downloadChart('grouped_bar_chart')">Download Grouped Bar Chart</button>
  </div>
  
  <!-- Pie Chart -->
  <div class="chart-container" *ngIf="pieChartOptions" #pieChartContainer>
    <div class="chart-content">
      <canvasjs-chart [options]="pieChartOptions"></canvasjs-chart>
      <p class="chart-date">Date Generated: {{ data.date_genere }}</p>
    </div>
    <button (click)="downloadChart('pie_chart')">Download Pie Chart</button>
  </div>
  
  <!-- Histogram -->
  <div class="chart-container" *ngIf="histogramOptions" #histogramContainer>
    <div class="chart-content">
      <canvasjs-chart [options]="histogramOptions"></canvasjs-chart>
      <p class="chart-date">Date Generated: {{ data.date_genere  }}</p>
    </div>
    <button (click)="downloadChart('histogram')">Download Histogram</button>
  </div>
  
        </div>
      </div>
      <div *ngIf="!data">
        <p>No data available.</p>
      </div>
    </div>
</div>
