@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');


/* Conteneur pour les boutons */
.button-container {
  display: flex;
  flex-direction: column; /* Alignement en colonne pour empiler les boutons */
  align-items: center; /* Centre les boutons horizontalement */
}

/* Style commun pour les boutons */
.profile-card__button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprime les bordures */
  border-radius: 4px; /* Bords arrondis */
  padding: 10px 20px; /* Espacement interne */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur main au survol */
  transition: background-color 0.3s; /* Transition de couleur */
  margin-bottom: 10px; /* Espace entre les boutons */
}

/* Style de bouton pour les icônes */
.profile-card__button .icon {
  width: 24px; /* Taille de l'icône */
  height: 24px; /* Taille de l'icône */
}

/* Couleur spécifique pour le bouton bleu */
.button--blue {
  background-color: #007bff; /* Couleur bleue spécifique */
}

/* Couleur de fond lors du survol */
.profile-card__button:hover {
  background-color: #0056b3; /* Couleur bleue plus foncée au survol */
}

/* Style pour le bouton avec l'icône */
.text-center.mt-3 {
  margin-top: 10px;
  margin-left:500px ; /* Espace au-dessus du bouton */
}




html {
  position: relative; /* Changed 'relative' from 'relative!important' */
  overflow-x: hidden; /* Removed '!important' */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  
  @media screen and (max-width: 768px) {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.form-card, .profile-card {
  width: 100%;
  min-height: 460px;
  margin: 35px auto; /* Adjust margin for space between forms */
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;

  &.active {
    .form-card__cnt, .profile-card__cnt {
      filter: blur(6px);
    }

    .form-card-message, .profile-card-message,
    .form-card__overlay, .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .1s;
    }

    .form-card-form, .profile-card-form {
      transform: none;
      transition-delay: .1s;
    }
  
  }

  &__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #BDD248, 0px 0px 0px 7px #BDD248;

    @media screen and (max-width: 576px) {
      width: 120px;
      height: 120px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  }

  &__cnt {
    margin-top: 20px;
    text-align: center;
    padding: 20px 20px;
    padding-bottom: 40px;
    transition: all .3s;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    color: #BDD248;
    margin-bottom: 10px;
  }

  &__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;

    strong {
      //color: #ff2846;
      font-weight: 700;
    }

  }

  &-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    &__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
      //color: #6944ff;
    }

  }

  &-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;

    &__item {
      padding: 10px 35px;
      min-width: 150px;

      @media screen and (max-width: 768px) {
        padding: 10px 20px;
        min-width: 120px;
      }

    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      //color: #6944ff;
      color: #324e63;
    }

    &__txt {
      font-weight: 500;
      margin-top: 7px;
    }

  }

  &-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;

      @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 10px;
      }

      @media screen and (min-width: 768px){
        &:hover {
          transform: scale(1.2);
        }
      }

      &.facebook {
        background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      }

      &.twitter {
        background: linear-gradient(45deg, #1da1f2,#0e71c8);
        box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
      }

      &.instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
      }

      &.behance {
        background: linear-gradient(45deg, #1769ff, #213fca);
        box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
      }

      &.github {
        background: linear-gradient(45deg, #333333, #626b73);
        box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
      }

      &.codepen {
        background: linear-gradient(45deg, #324e63, #414447);
        box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
      }

      &.link {
        background: linear-gradient(45deg, #d5135a, #f05924);
        box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
      }

    }

    .icon-font {
      display: inline-flex;
    }

  }

  &-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }

  }

  &__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;

    @media screen and (max-width: 768px) {
      min-width: 170px;
      margin: 15px 25px;
    }

    @media screen and (max-width: 576px) {
      min-width: inherit;
      margin: 0;
      margin-bottom: 16px;
      width: 100%;
      max-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:focus {
      outline: none!important;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        transform: translateY(-5px);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.button--blue {
      background: linear-gradient(45deg, #BDD248 , #d1e07f); // Changed background color to #BDD248
      box-shadow: 0px 4px 30px #d7e491;
    
      &:hover {
        box-shadow: 0px 7px 30px #cadb6d;
      }
    }

    &.button--orange {
      background: linear-gradient(45deg, #d5135a, #f05924);
      box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);

      &:hover {
        box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
      }

    }

    &.button--gray {
      box-shadow: none;
      background: #dcdcdc;
      color: #142029;
    }

  }

  &-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
  }

  .form {
    &-form {
      box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
      max-width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 100%;
      background: #fff;
      border-radius: 20px;
      padding: 35px;
      transform: scale(0.8);
      position: relative;
      z-index: 3;
      transition: all 0.3s;
  
      @media screen and (max-width: 768px) {
        max-width: 90%;
        height: auto;
      }
  
      @media screen and (max-width: 576px) {
        padding: 20px;
      }
  
      &__bottom {
        justify-content: space-between;
        display: flex;
  
        @media screen and (max-width: 576px) {
          flex-wrap: wrap;
        }
      }
    }
  }
  .form-control {
    border: 1px solid #ced4da; // Border color
    border-radius: 0.25rem; // Border radius
    padding: 0.375rem 0.75rem; // Padding
    font-size: 1rem; // Font size
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Smooth transition
    width: 100%; // Ensure the input takes the full width
  
    &:focus {
      border-color: #80bdff; // Border color on focus
      outline: 0; // Remove default focus outline
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); // Add focus shadow
    }
  
    input {
      width: 100%; // Ensure input takes full width
      padding: 10px 15px; // Adjust padding as needed
      border: 1px solid #ccc; // Add border for better visibility
      border-radius: 8px;
      font-family: 'Quicksand', sans-serif; // Apply font-family
      color: #324e63; // Text color
      font-weight: 500; // Font weight
  
      @media screen and (max-width: 576px) {
        width: calc(100% - 40px); // Adjust width to make space for icon
      }
    }

    svg {
        position: absolute;
        right: 10px;
        fill: #646464; // Icon color
        width: 24px; // Icon size
        height: 24px; // Icon size
        cursor: pointer;
        user-select: none; // Prevent text selection on double click
    }
  }
 /* Styles pour l'icône d'œil */
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-toggle svg path {
  fill: rgb(105, 105, 105); /* Changer la couleur de remplissage en gris */
}
/* Styles pour le conteneur du champ de saisie de mot de passe */
.password-input-container {
  position: relative;
}

  // Apply styles to form elements
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all .3s;

    &:focus {
      outline: none;
      border-color: #8a979e;
    }

  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all .3s;
  }

}
.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;

  &.active {
    .profile-card__cnt {
      filter: blur(6px);
    }

    .profile-card-message,
    .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .1s;
    }

    .profile-card-form {
      transform: none;
      transition-delay: .1s;
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #BDD248, 0px 0px 0px 7px #BDD248;

    @media screen and (max-width: 576px) {
      width: 120px;
      height: 120px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  }

  &__cnt {
    margin-top: 0px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 20px;
    transition: all .3s;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    color: #BDD248;
    margin-bottom:20px;
  }

  &__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;

    strong {
      //color: #ff2846;
      font-weight: 700;
    }

  }

  &-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    &__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
      //color: #6944ff;
    }

  }

  &-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;

    &__item {
      padding: 10px 35px;
      min-width: 150px;

      @media screen and (max-width: 768px) {
        padding: 10px 20px;
        min-width: 120px;
      }

    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      //color: #6944ff;
      color: #324e63;
    }

    &__txt {
      font-weight: 500;
      margin-top: 7px;
    }

  }

  &-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;

      @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 5px;
      }

      @media screen and (min-width: 768px){
        &:hover {
          transform: scale(1.2);
        }
      }

      &.facebook {
        background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      }

      &.twitter {
        background: linear-gradient(45deg, #1da1f2,#0e71c8);
        box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
      }

      &.instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
      }

      &.behance {
        background: linear-gradient(45deg, #1769ff, #213fca);
        box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
      }

      &.github {
        background: linear-gradient(45deg, #333333, #626b73);
        box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
      }

      &.codepen {
        background: linear-gradient(45deg, #324e63, #414447);
        box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
      }

      &.link {
        background: linear-gradient(45deg, #d5135a, #f05924);
        box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
      }

    }

    .icon-font {
      display: inline-flex;
    }

  }

  &-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }

  }

  &__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;

    @media screen and (max-width: 768px) {
      min-width: 170px;
      margin: 15px 25px;
    }

    @media screen and (max-width: 576px) {
      min-width: inherit;
      margin: 0;
      margin-bottom: 16px;
      width: 100%;
      max-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:focus {
      outline: none!important;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        transform: translateY(-5px);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.button--blue {
      background: linear-gradient(45deg, #BDD248 , #d1e07f); // Changed background color to #BDD248
      box-shadow: 0px 4px 30px #d7e491;
    
      &:hover {
        box-shadow: 0px 7px 30px #cadb6d;
      }
    }
    &.button--orange {
      background: linear-gradient(45deg, #d5135a, #f05924);
      box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);

      &:hover {
        box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
      }

    }

    &.button--gray {
      box-shadow: none;
      background: #dcdcdc;
      color: #142029;
    }

  }

  &-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
  }

  .form {
    &-form {
      box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
      max-width: 80%;
      margin: 20px 20px 20px 20px;
      height: 100%;
      background: #fff;
      border-radius: 20px;
      padding: 35px;
      transform: scale(0.8);
      position: relative;
      z-index: 3;
      transition: all 0.3s;
  
      @media screen and (max-width: 768px) {
        max-width: 90%;
        height: auto;
      }
  
      @media screen and (max-width: 576px) {
        padding: 20px;
      }
  
      &__bottom {
        justify-content: space-between;
        display: flex;
  
        @media screen and (max-width: 576px) {
          flex-wrap: wrap;
        }
      }
    }
  }
  .form-control {
    border: 1px solid #ced4da; // Border color
    border-radius: 0.25rem; // Border radius
    padding: 0.375rem 0.75rem; // Padding
    font-size: 1rem; // Font size
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Smooth transition
    width: 100%; // Ensure the input takes the full width
  
    &:focus {
      border-color: #80bdff; // Border color on focus
      outline: 0; // Remove default focus outline
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); // Add focus shadow
    }
  }
  // Apply styles to form elements
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all .3s;

    &:focus {
      outline: none;
      border-color: #8a979e;
    }

  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all .3s;
  }

}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
  word-wrap: break-word; /* Ensures long words break and wrap */
}

@media (max-width: 700px) {
  .profile-info {
    flex-direction: column;
    align-items: center;
    
    .profile-details {
      padding-left: 0;
      text-align: center;
      margin-top: 10px;
    }
  }
  .form-group {
    input {
      padding: 8px;
    }
  }
  
  .btn-primary {
    width: 100%;
    padding: 12px;
  }

  
}

/* Conteneur pour centrer le groupe de boutons */
.button-container-wrapper {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* S'assure que le conteneur prend toute la hauteur disponible */
}

/* Conteneur pour les boutons */
.button-container {
  display: flex;
  flex-direction: column; /* Aligne les boutons en colonne */
  align-items: center; /* Centre les boutons horizontalement */
}

/* Style commun pour les boutons */
.profile-card__button {
  background-color: #007bff;
  color: #fff;
  
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

/* Couleur spécifique pour le bouton bleu */
.button--blue {
  background-color: #007bff;
}

/* Couleur de fond lors du survol */
.profile-card__button:hover {
  background-color: #0056b3;
}

/* Style pour le bouton avec l'icône */
.profile-card__button .icon {
  width: 24px;
  height: 24px;
}
