// Define primary and accent colors
$primary-color: #000000;
$accent-color: #ffffff;

// Define a mixin for button styles
@mixin button-styles {
  color: white;
  &:hover {
    color: lighten(#BDD248, 10%);
  }
}

// Reset des styles de liste
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Styles de la barre d'élévation
.mat-elevation-z3 {
  background-color: $primary-color;
  color: white; 
  position: relative;
  z-index: 5;
  font-size: 1rem;
  padding: 5px;
  border-bottom: 5px solid #BDD248;
}

// Padding du contenu
$content-padding: 24px;

.content {
  padding: $content-padding;
}

// Hauteur du conteneur du sidenav
mat-sidenav-container {
  height: calc(100vh - 64px); // 64px est la hauteur supposée de la barre de navigation
  mat-sidenav {
    background-color: $accent-color;
    color: black;
    .mat-drawer-inner-container {
      padding: 16px;
    }
  }
}

// Transition du sidenav
mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

// Styles spécifiques pour les grands écrans
@media (min-width: 700px) {
  .header-container { 
    .mat-toolbar {
      background-color: $primary-color;
      color: white; 
      position: sticky; // Make the header stick to the top
      top: 0; // Stick to the very top of the viewport
      z-index: 1000; // Higher than the content to remain on top
      display: flex;
      align-items: center;
      justify-content: start; // Align items at the start of the toolbar
    
      .mat-toolbar-row {
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        
        button {
          @include button-styles;
        }
    
        span {
          font-size: 1.25rem;
          font-weight: bold;
        }
    
        img {
          margin-right: 5%; /* Space between the logo and the rest of the toolbar content */
        }
    
        .desktop-buttons {
          display: flex;
          align-items: center;
    
          li {
            margin-right: 20px;
    
            button {
              @include button-styles;
            }
          }
        }
    
        h1 {
          flex-grow: 1;
          text-align: left;
          font-family: 'Roboto', sans-serif; // Exemple de police élégante
          font-weight: 500; // Poids de la police
          color: #ffffff; // Couleur du texte
        }
      }
    }
  }
  .mobile-menu-button {
    display: none;
  }
}

// Media query to hide desktop buttons and show mobile menu button on small screens
@media (max-width: 700px) {
  .desktop-buttons {
    display: none;
  }

  .mobile-menu-button {
    display: inline-block;
    padding-left: 30px;
    li{
      margin-right: 20px;
    }
  }

  .toolbar-logo {
    height: 20px;
    margin-right: 2%;
  }

  .toolbar-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .toolbar-buttons ul {
    flex-direction: column;
    gap: 10px;
  }

}
@media (max-width: 400px) {
  .desktop-buttons {
    display: none;
  }

  .mobile-menu-button {
    display: inline-block;
  }

  .toolbar-logo {
    height: 20px;
    margin-right: 3%;
  }

  .toolbar-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .toolbar-buttons ul {
    flex-direction: column;
    gap: 10px;
  }

}
.notification-icon {
  position: relative;

  .notification-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
  }
}
