
  ::ng-deep .example-custom-date-class .mat-calendar-body-cell-content {
    background-color: rgb(108, 196, 67);
    color: darkblue;
  }
  
  ::ng-deep .sprint0 .mat-calendar-body-cell-content {
    background-color: rgb(108, 196, 67);
    color: darkblue;
  }
  
  ::ng-deep .sprint1 .mat-calendar-body-cell-content {
    background-color: rgb(191, 149, 24);
    color: darkblue;
  }
  ::ng-deep .sprint2 .mat-calendar-body-cell-content {
    background-color: rgb(48, 185, 64);
    color: darkblue;
  }
  ::ng-deep .sprint3 .mat-calendar-body-cell-content {
    background-color: rgb(186, 43, 119);
    color: darkblue;
  }
  